//*------------------------------------*\
// Variables Typo font
//*------------------------------------*/

$font-path: "~@/assets/fonts" !default;

$f-bold         : 700;
$f-semibold     : 600;
$f-regular      : 400;

// Fuentes de icono
$ico-font-family: "icomoon" !default;
// Variables iconos
$i-arrow-bottom: "\e900";
$i-arrow-left: "\e901";
$i-arrow-right: "\e902";
$i-arrow-top: "\e903";
$i-facebook: "\e904";
$i-instagram: "\e905";
$i-mail: "\e906";
$i-reloj: "\e907";
$i-telefono: "\e908";
$i-twitter: "\e909";
$i-ubicacion: "\e90a";
$i-atencion-cliente: "\e90b";
$i-bioseguridad: "\e90c";
$i-extintor: "\e90d";
$i-gps: "\e90e";
$i-luz-lectura: "\e90f";
$i-musica: "\e910";
$i-televisor: "\e911";
$i-security: "\e912";
$i-comfort: "\e913";
$i-clock: "\e914";
$i-team: "\e915";
$i-job: "\e916";
