//*------------------------------------*\
// Variables Color
//*------------------------------------*/

// Neutro
$c-neutro: #fff;
// Primary
// se muestra con mayor frecuencia en las pantallas y componentes
$c-primary      : #ED3237;
$c-brand        : #FFF21B;
// Secondary & tertiary
// Color para acentuar elementos: Botones de acción, Controles de selección, Resaltar texto, Barras de progreso, Enlaces y titulares
// $c-secondary      : #000;
$c-secondary      : #333333;

// Color para estado hover del menu
$c-menu-over      : #eee;

$c-whatsapp     : #49C858;

// Border
$c-border       : #D6D6D6;
$c-border-light : #EBEBEB;
$c-border-over : #dcdcdc;
$c-gray-bg: #F6F6F6;
