
.es-section_right {
    .es-subheader {
      text-align: right;
      .es-subtitle {
        display: inline-block;
      }
    }
}

//Aliado
.es-allied__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}