.es-preload {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $c-neutro;
  z-index: 10;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}

.es-preload__img {
  display: block;
  position: relative;
  width: 200px;
  margin-bottom: 20px;
}


.preloader5 {
  display:inline-block;
  font-size:0px;
  padding:0px;
}
.preloader5 span {
  vertical-align:middle;
  border-radius:100%;
  background: $c-primary;
  display:inline-block;
  width:10px;
  height:10px;
  margin:3px 2px;
  -webkit-animation:preloader5 0.8s linear infinite alternate;
  animation:preloader5 0.8s linear infinite alternate;
}
.preloader5 span:nth-child(1) {
  -webkit-animation-delay:-0.8;
  animation-delay:-0.8s;
}
.preloader5 span:nth-child(2) {
  -webkit-animation-delay:-0.53333s;
  animation-delay:-0.53333s;
}
.preloader5 span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
}
@keyframes preloader5 {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader5 {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}